* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bottom-nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgb(230, 230, 230);
}

.bn-tab {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* {added text} */

.inputHolder {
    margin: 15px 0;
}

.mainWrapper {
    padding: 0 10px;
}

.mainContent {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .mainContent {
        flex-direction: column;
    }
}

.inputHolder {
    padding: 0 10px;
    display: flex;
}

.inputHolder input[type='text'] {
    max-width: 400px;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 0;
    display: inline-block;
    border: 1px solid #222;
    outline: none;
}

.inputHolder .uploadInput {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
}

.inputHolder .or {
    align-items: center;
    display: inline-flex;
    padding: 0 20px;
}

.inputHolder .uploadImage {
    padding: 8px 16px;
    font-size: 16px;
    background: #333;
    color: #fff;
    display: inline-block;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    outline: none;
}

.imageHolder {
    width: 60%;
    display: block;
    flex: 0 0 60%;
    max-width: 900px;
    height: 70vmin;
}

@media (max-width: 800px) {
    .imageHolder {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
}

.imageHolder:empty {
    display: none;
}

.imageHolder img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resultsHolder {
    padding: 30px;
}

@media (max-width: 800px) {
    .resultsHolder {
        width: 100%;
        padding: 0;
    }
}

.resultsHolder .result {
    border: 1px solid #333;
    margin: 0 0 10px;
    padding: 10px;
}

.resultsHolder .result:first-of-type {
    border-color: #333;
    background-color: #333;
}

.resultsHolder .result:first-of-type .name {
    color: #fff;
}

.resultsHolder .result:first-of-type .confidence {
    color: #dfdfdf;
}

.resultsHolder .result .name {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.resultsHolder .result .confidence {
    display: block;
    font-weight: 300;
}

.resultsHolder .result .confidence .bestGuess {
    background: #fff;
    padding: 2px 6px;
    color: #333;
    margin-left: 3px;
}

.button {
    padding: 12px 17px;
    font-size: 18px;
    background: blueviolet;
    color: #fff;
    display: inline-block;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    outline: none;
}

.recentPredictions {
    margin: 40px 0 0;
    background: #dac2ff;
    padding: 10px;
}

.recentPredictions h2 {
    color: #111;
    font-size: 26px;
    margin: 10px 0;
}

.recentPredictions .recentImages {
    display: flex;
    flex-wrap: wrap;
}

.recentPredictions .recentPrediction {
    flex: 0 0 20%;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .recentPredictions .recentPrediction {
        flex: 0 0 25%;
    }
}

@media (max-width: 870px) {
    .recentPredictions .recentPrediction {
        flex: 0 0 33.3%;
    }
}

@media (max-width: 700px) {
    .recentPredictions .recentPrediction {
        flex: 0 0 50%;
    }
}

.recentPredictions .recentPrediction img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 700px) {
    .recentPredictions .recentPrediction img {
        height: 260px;
    }
}


/* styles for home.js file */

.card {
    width: 300px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    width: max-content;
    color: tomato;
    font-size: 13px;
    border-bottom: .5px solid tomato;
    margin: 3px 0;
}

.desc {
    font-size: 14px;
    overflow: hidden;
}

.star {
    color: gold;
}

.username {
    font-size: 14px;
}

.date {
    font-size: 12px;
}

.img {
    float: right;
    margin: 0 0 0.5rem 0.5rem
}

form {
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(88, 87, 87);
}

input {
    border: none;
    border-bottom: 1px solid gray;
}

input::placeholder,
textarea::placeholder {
    font-size: 12px;
    color: rgb(185, 184, 184);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

textarea {
    border: none;
    border-bottom: 1px solid gray;
}

.submitButton {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}

.buttons,
.logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

.button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.logout {
    background-color: tomato;
}

.login {
    background-color: teal;
    margin-right: 10px;
}

.register {
    background-color: slateblue;
}